@font-face {
    font-family: 'GothamSSm';
    src: url('../fonts/gothamNarrow.otf')
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GothamSSm';
    text-decoration: none;
    color: #414450;
    user-select: none;
    box-sizing: border-box;
}


.video, .game {
    display: none;
}


/* Стилизация меню */

.main-menu {
    width: 100%;
    height: 100vh;
    background: url('../img/bg-game-menu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: rgb(255 247 203);
    border-radius: 25px;
}

.content .title {
    font-size: 55px;
    color: #ff9e2c;
}

.content .sub-title {
    color: gray;
    margin-top: 10px;
    font-size: 20px;
}

.content .text-instruction {
    width: 50%;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    border: 2px solid #ff9e2c;
    padding: 10px;
}


.content .name-label {
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 10px;
}

.content .input-name {
    border: #ff9e2c 2px solid;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    outline: none;
}

.content .button-start {
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 15px;
    background: #ff9e2c;
    color: whitesmoke;
    cursor: pointer;
}

/* Конец стилизации меню */


/* Стилизация видео */

.video {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: #000;
    justify-content: center;
}

video {
    width: 90vw;
    height: 90vh;
    margin-top: 25px;
}

.video .text {
    position: absolute;
    right: 150px;
    bottom: 50px;
    color: #bdb7b7;
    font-size: 15px;
    z-index: 10;
}

/* Конец стилизапции видео */

/* Стилизация интерфейса игры */

.game {
    max-height: 100vh;
}

.game .interface {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game-container {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    border: 2px solid #000;
}

/* Конец стилизации интерфейса игры */


